@import "variables","normalize","fonts","components/header","components/menu","components/footer","components/table";
body{
    width: 100vw;
    overflow-x: hidden;
}

main{
    width: 80%;
    margin: auto;
}