@import "variables","mixin","normalize","fonts","components/login","components/header","components/menu","components/cta","components/table","components/footer";
body{
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

main{
    width: 80%;
    margin: auto;
}