.dash__menu{
  width: 20%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  @include mobile{
    width: 90%;
    height: 100%;
    margin: 0px auto 40px auto;
    order: 2;
    border-radius: 10px;
    background-color: $colorPurple;
    position: relative;
  }
  .dash__header{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    @include mobile{
      display: none;
    }
    .dash__imgprofile{
      width: 100px;
      border-radius: 50%;
    }
    .dash__name{
      font-weight: 900;
      font-size: 25px;
      text-align: center;
    }
  }
  hr{
    border: 1px solid #E0E0E0;
    width: 90%;
    @include mobile{
      display: none;
    }
  }
  .dash__nav{
    margin: 50px auto 0 auto;
    @include mobile{
      margin: auto;
      width: 90%;
    }
    .dash__nav__item{
      width: 100%;
      list-style-type: none;
      padding: 0;
      @include mobile{
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      img{
        @include mobile{
          display: none;
        }
      }
      li{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
        .dash__nav__link{
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          text-decoration: none;
          color: #000;
          transition: all 0.2s ease;
          &:hover{
            color: $colorPurple;
          }
          @include mobile{
            font-size: 16px;
            margin: auto;
            color: #fff;
          }
        }
      }
    }
  }
  .dash__logout{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
      position: relative;
    }
    .dash__logout__content{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto;
      .dash__imglogout{
        width: 50px;
        border-radius: 50%;
      }
      .dash__nav__logout{
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: $colorPurple;
        transition: all 0.2s ease;
        &:hover{
          color: #000;
        }
        @include mobile{
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}