@import "../normalize","../variables","../fonts","header","banner","addcontact";

body{
    width: 100vw;
    background-color: $colorDashBG;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}