@import "../normalize","../variables","../fonts","../mixin","header","banner", "dashform", "tabledash";

body{
    width: 100%;
    background-color: $colorDashBG;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
        justify-content: flex-start;
    }
}

.dash__main{
    width: 78%;
    position: absolute;
    right: 0;
    @include mobile{
        width: 100%;
        position: relative;
        order: 1;
    }
}