footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer__line{
        width: 100%;
        border: 1px solid $colorYellow;
        margin: 90px auto;
    }
    .footer__main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .footer_left{
            width: 50%;
        }
        .footer__right{
            width: 50%;
            .footer__infos{
                .footer__address{
                    margin-bottom: 15px;
                }
                .footer__contact{
                    display: flex;
                    margin-bottom: 40px;
                }
                .footer__content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 2%;
                }
            }
            .footer__social{
                display: flex;
                align-items: center;
                gap: 2%;
            }
        }
    }
    .footer__bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        .footer__line{
            margin-bottom: 24px;
        }
        .footer__end{
            display: flex;
            margin-bottom: 100px;
            justify-content: space-between;
            .footer__menu{
                width: 80%;
                .footer__list{
                    display: flex;
                    gap: 15%;
                    list-style: none;
                    text-transform: uppercase;
                    .footer__item{
                        font-family: 'Inter', sans-serif;
                        transition: all 0.3s ease;
                        &:hover{
                            color: $colorYellow;
                            cursor: pointer;
                            scale: 1.5;
                        }
                    }
                }
            }
            .footer__copyright{
                width: 20%;
            }
        }
    }
    p,li{
        font-size: 14px;
        color: $colorFontFooter;
    }
}