header{
    width: 100%;
    background-color: $colorYellow;
    display: flex;
    align-items: center;
    .header__content{
        width: 90%;
        margin: auto;
        padding-top: 90px;
        position: relative;
        .header__cta{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 200px;
            .cta__title{
                width: 50%;
                h2{
                    font-size: 65px;
                    font-weight: 800;
                    @include mobile{
                        font-size: 50px;
                    }
                }
                @include mobile{
                    width: 100%;
                }
            }
            .cta__img{
                width: 50%;
                display: flex;
                justify-content: flex-end;
                img{
                    width: 80%;
                }
                @include mobile{
                    width: 100%;
                    justify-content: center;
                }
            }
            @include mobile{
                margin-top: 0;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 100px;
            }
        }
        .wave{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        @include mobile{
            padding-top: 20px;
        }
    }
}

.header__simple{
    width: 100%;
    background-color: $colorYellow;
    display: flex;
    align-items: center;
    .header__content{
        width: 90%;
        height: 250px;
        margin: auto;
        padding-top: 90px;
        position: relative;
        .wavesimple{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        @include mobile{
            padding-top: 20px;
            height: 115px;
        }
    }
}