nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    position: relative;
    .nav__menu{
        width: 80%;
        display: flex;
        justify-content: space-between;
        .nav__list{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style-type: none;
            gap: 10%;
            @include mobile{
                display: flex;
                flex-direction: column;
                padding: 0;
                gap: 20px;
                margin-bottom: 100px;
            }
        }
        .nav__login{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style-type: none;
            gap: 10%;
            @include mobile{
                display: flex;
                flex-direction: column;
                padding: 0;
                gap: 20px;
            }
        }
        .nav__item{
            color: #000;
            font-size: 20px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            padding: 10px 15px;
            transition: all 0.2s ease-in-out;
            &:hover{
                outline: 1px solid #000;
            }
            @include mobile{
                font-size: 25px;
                color: #000;
                margin-bottom: 45px;
                font-weight: 700;
            }
            &--signup{
                background-color: #fff;
                padding: 10px 15px;
                border-radius: 10px;
                &:hover{
                    outline: none;
                    background-color: $colorBlack;
                    color: #fff;
                }
            }
        }
        @include mobile{
            display: none;
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            background-color: $colorYellow;
            z-index: 100;
            overscroll-behavior: contain;
        }
    }
    #nav__burger{
        display: none;
        @include mobile{
            display: block;
        }
    }
    #nav__cross {
        display: none;
        width: 30px;
    }
}


