.table__box{
    width: 100%;
    @include mobile {
        overflow-x: auto;
    }
}
h2{
    font-size: 60px;
    font-weight: 900;
    @include mobile{
        font-size: 50px;
    }
}
table{
    font-size: 20px;
    font-weight: 600;
    border-collapse: collapse;
    width: fit-content;
    .table__header{
        position: relative;
        width: 100%;
        text-align: left;
    }
    .table__header::after{
        position: absolute;
        transform: translateY(-100%);
        z-index: -1;
        content: "";
        height: 100%;
        width: 80vw;
        background-color: $colorYellow;
        @include mobile {
            width: 100%;
        }
    }
    .table__head{
        padding: 15px 30px;
    }
    .table__content{
        text-align: left;
        padding: 15px 30px;
    }
    .table__row:nth-child(odd){
        position: relative;
        width: 100%;
    }
    .table__row:nth-child(odd)::after{
        position: absolute;
        left: 0;
        z-index: -1;
        content: "";
        height: 100%;
        width: 80vw;
        background-color: white;
        @include mobile {
            width: 100%;
        }
    }
    .table__row:nth-child(even){
        position: relative;
        width: 100%;
    }
    .table__row:nth-child(even)::after{
        position: absolute;
        left: 0;
        z-index: -1;
        content: "";
        height: 100%;
        width: 80vw;
        background-color: $colorGrey;
        @include mobile {
            width: 100%;
        }
    }
}

#pagination{
    width: 35%;
    margin: 50px auto 0 auto;
    a{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 9px 15px;
        outline: 2px solid #DFE3E8;
        border-radius: 10px;
        text-decoration: none;
        color: #000;
        &:hover{
            outline: 2px solid $colorYellow;
            color: $colorYellow;
        }
    }
    .page-active{
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 10px;
        outline: 2px solid $colorYellow;
        color: $colorYellow;
    }
    .inactive{
        background-color: #919EAB;
        color: $colorYellow;
        outline: none;
    }
    #pagination--prev,#pagination--next{
        color: $colorYellow;
    }
}